<h1>DIGIMON</h1>
<nav>
    <a href="/digimon/new">Add new Digimon</a>
</nav>
<ul>
    <% for (let mon of digimon) { %>
    <li>
        <a href="/digimon/<%= mon.id %>">
            <%= mon.name %>
        </a>
    </li>
    <% } %>
</ul>
<div>
    <a href="/">Go home</a>
</div>